@mixin quote {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
    color: $font-color-quote;
    opacity: .7;
    text-align: center;
    margin: 1.5rem;

    @media (min-width: $breakpoint-sm) {
        font-size: 1.5rem;
    }
    @media (min-width: $breakpoint-md) {
        font-size: 1.6rem;
        margin: 1.8rem 0 1.8rem 1.8rem;
    }
}