$fa-font-path: '~font-awesome/fonts';

$default-font-size: 1.3rem;

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;
$font-family-alt: 'Anton', sans-serif;
$font-family-opt: 'Krona one', sans-serif;

$font-color-primary: rgb(98, 117, 131);
$font-color-secondary: #1E1E1E;
$font-color-quote: rgba(167, 180, 190, .75);
$font-color-inner: rgb(119, 130, 139);

$special-color: #F4B500;

$color-primary: #FFF;
$background-color-primary: #EBEBEB;
$background-color-secondary: #ADADAD;

$color-hard-skills: #3b3b3b;
$color-mad-skills: #B8B8B8;
$color-mad-skills-alt: #C2C2C2;

$color-circle: #F5F5F5;

$duration: .5s;
$duration-fast: .25s;
$duration-slow: 1s;
$duration-very-slow: 2s;

$gutter-thin: .25rem;
$gutter-small: .5rem;
$gutter: 1rem;
$gutter-large: 2rem;
$gutter-very-large: 3rem;
$gutter-extra-large: 5rem;

$breakpoint-sm: 768px;
$breakpoint-md: 996px;
$breakpoint-lg: 1200px;