.copyright {
    background-color: $background-color-primary;
    padding: 1rem;

    &--project {
        background-color: $special-color;
    }

    &__content {
        font-size: .8rem;
        text-align: center;
        line-height: 1rem;
        color: $font-color-secondary;
    }
}