.education {
    margin: 1rem;

    &__container {
        margin: 5rem auto;
        max-width: 400px;
        position: relative;


        @media (min-width: $breakpoint-sm) {
            max-width: 100%;
            top: initial;
        }
    }

    // MAIN TITLE
    &__main-title-container {
        text-align: center;

        @media (min-width: $breakpoint-sm) {
            margin-bottom: 2rem;
        }
    }
}

// CANCELING MARGIN BOTTOM OF THE LAST LIST ITEM
.education-list-item--bac {
    margin-bottom: -7rem;

    @media (min-width: $breakpoint-sm) {
        margin-bottom: 0;
    }
}

/*--------------- DIVIDER ---------------*/

.education-timeline {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 10%;
        bottom: 10%;
        left: 50%;
        border: 1.5px solid $font-color-secondary;
        opacity: .5;
        border-radius: 2px;
        margin-left: -.7px;
        padding: 0;
        z-index: -1;

        @media (min-width: $breakpoint-sm) {
            top: 0;
            bottom: unset;
            left: unset;
            width: 100%;
        }
    }

    .education-list-item--oclock {
        position: relative;
        bottom: -60px;

        @media (min-width: $breakpoint-sm) {
            bottom: unset;
        }
    }
}

/*----------------------------------------*
                LIST ITEM
*----------------------------------------*/

.education-list-item {

/*--------------- DATES ---------------*/
    &__dates-panel-container {
        position: relative;
        width: initial;
        height: inherit;
    }

    &__date-container {
        // position: absolute;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin: 0 auto;
        background-color: $color-circle;

        // &--top {
        //     left: 50%;
        //     transform: translateX(-50%);
        //     top: -55px;
        // }

        // &--bottom {
        //     left: 50%;
        //     transform: translateX(-50%);
        //     bottom: 0;
        // }

        &--formation {
            position: relative;
            top: -110px;

            @media (min-width: $breakpoint-sm) {
                position: absolute;
                top: 0;
            }  
        }

        &--2019, &--2011 {
            top: 0;
        }

        &--diploma {
            background-color: $special-color;
        
        }

        &--2010-bac {
            position: relative;
            top: -110px;

            @media (min-width: $breakpoint-sm) {
                bottom: unset;
                top: 0;
            }
        }
    }
    
    &__date-content {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        font: {
            weight: bold;
            size: 1.7rem;
            family: $font-family-secondary;
        }
        

        &--formation {
            color: $special-color;
        }

        @media (min-width: $breakpoint-sm) {
            font-size: 1.3rem;

            &--formation {
                font-size: .9rem;
            }
        }
    }

/*--------------- CONTENT ---------------*/
    
    &__content {
        background-color: $font-color-secondary;
        text-align: center;
        position: relative;
        top: -55px;
        z-index: -1;

        @media (min-width: $breakpoint-sm) {
            top: 0;
            font-size: .9rem;
        }
        
        &--top {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 4rem 1rem 1rem 1rem;

            &--bac {
                padding-top: 2rem;
            }

        }
        
        &--bottom {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 0rem 1rem 4rem 1rem;
            
            &--esec {
                padding-bottom: 2rem;
            }
        }
    }

    &__title {
        color: $color-primary;
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: bold;
        letter-spacing: 1px;
    }

    &__text {
        color: #8F8F8F;
        font-size: .9rem;
        line-height: 1.2rem;
        font-weight: normal;
        letter-spacing: normal;

        @media (min-width: $breakpoint-sm) {
            font-size: 1rem;
            line-height: 1.4rem;
        }
    }
}

/*--------------- DESKTOP VERSION ---------------*/

@media (min-width: $breakpoint-sm) {

    .education-timeline {

        display: flex;
        justify-content: space-between;
    }

        .education-list-item {
            display: flex;
            flex-direction: column;
        
// ORDRE DE CHAQUE ÉLÉMENT LI RABNGÉS CHRONOLOGIQUEMENT
            &--oclock {
                order: 4;
            }

            &--esec {
                order: 3
            }

            &--ef {
                order: 2;
            }

            &--bac {
                order: 1;
            }

// ORDRE DE CHAQUE ÉLEMENTS CONTENU DANS LES LI
            &__content--top {
                order: 1;

                &--diploma {
                    &::after {
                        content: '2015';
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-color: $special-color;
                        font-family: $font-family-secondary;
                        color: $font-color-secondary;
                    }
                }
            }

            &__date-container {
                order: 2;
            }

            &__content--bottom {
                order: 3;
            }

            &__content {
                padding: 0;
            }


        &__date-container {

            display: none;
            // position: relative;
            
            // &--diploma {
            //     width: 55px;
            //     height: 55px;
            //     // top: -27.5px;
            // }

            // &--formation {
            //     width: 45px;
            //     height: 45px;

            //     // top: -22.5px;

            // }

            // &--2019 {
            //     right: 0;
            // }
        }
    }
}