.education {
    margin: 1rem;
    margin-top: 0;

    @media (min-width: $breakpoint-sm) {
        margin: 0;
    }

    &__container {
        margin: 0 auto;
        max-width: 400px;
        position: relative;


        @media (min-width: $breakpoint-sm) {
            max-width: 100%;
            margin: 10rem 1rem;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
        }
    }

    // MAIN TITLE
    &__main-title-container {
        text-align: center;
        margin-top: 1rem;

        @media (min-width: $breakpoint-sm) {
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
    }
}

/*--------------- DIVIDER ---------------*/

.education-timeline {
    position: relative;
    top: -2rem;

    @media (min-width: $breakpoint-sm) {
        top: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 10%;
        bottom: 10%;
        left: 50%;
        border: 1.5px solid $font-color-secondary;
        opacity: .5;
        border-radius: 2px;
        margin-left: -.7px;
        padding: 0;
        z-index: -1;

        @media (min-width: $breakpoint-sm) {
            top: 0;
            bottom: unset;
            left: unset;
            width: 100%;
            z-index: -2;
        }
    }

    .education-list-item--oclock {
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

/*----------------------------------------*
                LIST ITEM
*----------------------------------------*/

.education-list-item {
    // Fix the space on mobile
    &--esec {
        margin-top: -3rem;
    }

/*--------------- DATES ---------------*/
    &__year-container {
        transform: translateY(50%);
    }

    // Fix the design for the items containing 2 years
    &__year-container--left {
        order: 1;
    }

    &__content-container--dashed {
        order: 2;
    }

    &__year-container--right {
        order: 3;
        position: relative;
        top: -110px;
    }

    &__dates-panel-container {
        position: relative;
        width: initial;
        height: inherit;
    }

    &__date-container {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin: 0 auto;
        background-color: $color-circle;

        &--2019, &--2011 {
            top: 0;
        }

        &--diploma {
            background-color: $special-color;
        }
    }
    
    &__date-content {
        position: relative;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        font: {
            weight: bold;
            size: 1.7rem;
            family: $font-family-secondary;
        }
        

        &--formation {
            color: $special-color;
        }

        @media (min-width: $breakpoint-sm) {
            font-size: 1rem;
        }
    }

/*--------------- CONTENT ---------------*/
    
    &__content {
        background-color: $font-color-secondary;
        text-align: center;
        position: relative;
        z-index: -1;

        @media (min-width: $breakpoint-sm) {
            top: 0;
            max-width: 250px;
        }
        
        &--top {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 4rem 1rem 1rem 1rem;

            @media (min-width: $breakpoint-sm) {
                padding: 1rem .2rem 1.7rem .2rem;
                background-color: rgba($color-mad-skills, .4);
                color: $font-color-secondary;
            }
        }
        
        &--bottom {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 0rem 1rem 4rem 1rem;

            @media (min-width: $breakpoint-sm) {
                padding: 1.7rem .2rem 1rem .2rem;
                background-color: transparent;
            }
            
            &--esec {
                padding-bottom: 2rem;

                @media (min-width: $breakpoint-sm) {
                    padding: 1.7rem .2rem 1rem .2rem;
                }
            }
        }
    }

    &__title {
        color: $color-primary;
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: bold;
        letter-spacing: 1px;

        @media (min-width: $breakpoint-sm) {
            font-size: .8rem;
            line-height: 1.1rem;
            color: $font-color-secondary;
        }

        @media (min-width: $breakpoint-md) {
            font-size: .9rem;
            line-height: 1.4;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 1rem;
            line-height: 1.5;
        }
    }

    &__text {
        color: #8F8F8F;
        font-size: .9rem;
        line-height: 1.2rem;
        font-weight: normal;
        letter-spacing: normal;

        @media (min-width: $breakpoint-sm) {
            font-size: .8rem;
            line-height: 1.1rem;
        }

        @media (min-width: $breakpoint-md) {
            font-size: .9rem;
            line-height: 1.4;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}

/*--------------- DESKTOP VERSION ---------------*/

@media (min-width: $breakpoint-sm) {

    .education-timeline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;

        @media (min-width: $breakpoint-md) {
            max-width: 900px;
        }

        @media (min-width: $breakpoint-lg) {
            max-width: 1000px;
        }
    }

        .education-list-item {
            display: inline-block;
            width: 200px;

            @media (min-width: $breakpoint-md) {
                width: 220px;
            }

            @media (min-width: $breakpoint-lg) {
                width: 240px;
            }

            &__content-container {
                position: relative;
                transform: translateY(-50%);
                z-index: -1;
            }

            &__dates-panel-container {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                position: relative;
                top: -22.5px;
            }

            &__date-container {
                position: absolute;
                width: 45px;
                height: 45px;
            }

            &__text-panel-container--formation {
                &::before {
                    content: '';
                    position: absolute;
                    border: 1.5px dashed $color-primary;
                    z-index: -1;
                    width: 90%;
                    right: 0;
                    bottom: -3px;
                }
            }
        }
    }
