.header{
    display: grid;
    grid-area: header;
    z-index: 1;
    position: fixed;
    width: 100%;

    padding: 1.5rem;

    @media (min-width: $breakpoint-sm) {
        padding: 1.3rem 2rem;
    }
}
@media (min-width: $breakpoint-sm) {
    .header__scroll-animation {
        top: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(30, 30, 30, .9);
        z-index: -1;

        transition: 500ms;
    }
}