.info {
    background-color: $special-color;
    position: relative;
    text-align: center;
    min-width: 100%;

    .info-main-title-container{
        margin-bottom: 2.5rem;

        &__text {
            background-color: $color-primary;
            padding: 1rem 1.5rem;
        }
    }
    
/*--------------- CONTACT / ADDRESS ---------------*/

.info-container-panel {

    @media (min-width: $breakpoint-sm) {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 3rem;
    }
}

    .info-contact {
        position: relative;
        width: 100%;
        margin: 0 auto;

        @media (min-width: $breakpoint-sm) {
            margin: auto;
        }

        &::after {
            content: '';
            border: 1.5px solid $color-primary;
            border-radius: 2px;
            display: inline-flex;
            width: 125px;

            @media (min-width: $breakpoint-sm) {
                display: block;
                width: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                right: 0;
                transform: translateX(50%);
            }
        }

        &__icon {
            font-size: 50px;
            color: $font-color-secondary;

            @media (min-width: $breakpoint-sm) {
                font-size: 1.3rem;
                position: relative;
                bottom: .1rem;
                order: 3;
                margin-left: .5rem;
            }
        }

        &__title {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.6rem;
            margin: .3rem 0 .5rem 0;
            color: $font-color-secondary;

            @media (min-width: $breakpoint-sm) {
                font-size: 1.1rem;
                text-transform: none;
                margin: unset;

            }

            .double-dot {
                display: none;
                color: $font-color-secondary;

                @media (min-width: $breakpoint-sm) {
                    display: inline;

                    &::after {
                        content: '-';
                        visibility: hidden;
                    }
                }
            }
        }

        &__content {
            font-size: 1.1rem;
            opacity: .8;
            color: $font-color-secondary;

            @media (min-width: $breakpoint-sm) {
                font-size: 1.1rem;
                opacity: 1;
            }
        }

        .info-contact-block {
            margin-bottom: 2rem;

            @media (min-width: $breakpoint-sm) {
                display: flex;
                justify-content: flex-end;
                margin: 1rem 1.5rem;
            }
        }
    }

/*--------------- SOCIAL MEDIA / LINKS CONTACT ---------------*/

    .info-links {
        display: flex;
        justify-content: center;
        margin: 2.5rem 0 3rem 0;

        @media (min-width: $breakpoint-sm) {
            display: block;
            margin: auto 0;
        }

        .info-link-block {
            margin: 0 .5rem;

            @media (min-width: $breakpoint-sm) {
                margin: 1rem 1.5rem;
            }
        }
       
        .info-links-container {
            margin: 2.5rem 0 3rem 0;
            display: flex;
            justify-content: center;

            @media (min-width: $breakpoint-sm) {
                flex-direction: column;
            }
        }

        .info-link__icon {
            font-size: 45px;
            margin-bottom: .5rem;
            color: $font-color-secondary;

            @media (min-width: $breakpoint-sm) {
                font-size: 1.3rem;
                margin-bottom: initial;
            }
        }

        .info-link__url {
            display: none;

            @media (min-width: $breakpoint-sm) {
                display: block;
                font-size: 1.1rem;
            }
        }

        .info-link__content {
            font-size: 1.1rem;
            width: min-content;
            line-height: 1.3rem;
            color: $font-color-secondary;

            @media (min-width: $breakpoint-sm) {
                width: initial;
                line-height: unset;
                margin: 0 .5rem;

                &::after {
                    content: ' -';
                }
            }
        }

        .info-links__link {

            @media (min-width: $breakpoint-sm) {
                display: flex;
                align-items: baseline;
            }
            
        }
    }
}

@media (min-width: $breakpoint-sm) {

    .info-link-block {
        display: flex;
        justify-content: flex-start;
    }
}
