.main-project {
    &::before {
        content: '';
        position: fixed;
        width: 100%;
        z-index: 1;
        height: 161px;
        background-color: $color-primary;

        @media (min-width: $breakpoint-sm) {
            height: 187px;
        }
    }
}

.project-header {

    &__container {
        position: relative;
        z-index: 1;
    }
    
    &__title-container {
        position: fixed;
        top: 53px;
        width: 100%;
        height: 108px;

        @media (min-width: $breakpoint-sm) {
            top: 67.6px;
        }
    }

    &__title-block {
        background-color: rgba(0, 0, 0, .8);
        color: $color-primary;
        position: absolute;
        left: 50%;
        padding: .5rem 3rem;
        transform: translateX(-50%);
    }

    &__title {
        position: relative;
        top: -.7rem;
    }

    &__project-title-block {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__project-title {
        position: relative;
        background-color: $color-primary;
        padding: .8rem 3rem;
        margin-top: 3.7rem;
        color: $special-color;

        @media (min-width: $breakpoint-sm) {
            margin-top: 4.5rem;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 1.5rem;
        }
        
        &::after {
            content: '';
            position: absolute;
            border-bottom: 2px solid rgba(0, 0, 0, .8);
            width: 5rem;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }

    &__quote-container {
        position: relative;
        top: 11.5rem;
        font-size: .9rem;
        z-index: -1;
        color: $font-color-quote;
        font-style: italic;
        font-weight: bold;
        opacity: .7;
        max-width: 62%;
        margin: 0 auto;
        line-height: 1.1rem;
        text-transform: uppercase;

        @media (min-width: $breakpoint-sm) {
            position: fixed;
            top: 5.5rem;
            right: 1rem;
            font-size: 1rem;
            line-height: 1.3rem;
            z-index: 1;
            max-width: 30%;
        }

        @media (min-width: $breakpoint-md) {
            right: 2rem;
            top: 6.5rem;
        }

        @media (min-width: $breakpoint-lg) {
            right: 3rem;
        }

        &__content {
            text-align: center;
        }
    }
}

.project-articles {
    z-index: -1;
    padding-top: 12rem;

    @media (min-width: $breakpoint-sm) {
        padding-top: 14rem;
    }

    @media (min-width: $breakpoint-md) {
        padding-top: 16rem;
    }
}

.project-article {

    &__title {
        font-size: 1rem;
        margin: 1rem 0rem;
        text-transform: uppercase;
        color: $font-color-secondary;

        @media (min-width: $breakpoint-md) {
            font-size: 1.2rem;
        }

        &--what {
            margin-bottom: 2rem;
        }
    }
}

.article-project__img-container {
    height: auto;
    max-height: 250px;
    width: 100%;
    margin: 0;
    position: relative;
    display: block;
    left: 0;
    z-index: -1;
    overflow: hidden;

    @media (min-width: $breakpoint-sm) {
        position: relative;
        height: unset;
    }
}

.project-divider {
    z-index: -1;
}