/*--------------- GLOBAL ---------------*/

.portfolio {
    background-color: $background-color-primary;
    position: relative;
    text-align: center;
    padding-bottom: 8rem;

    // MAIN TITLE
    &__main-title {
        padding: 2rem 0;
        margin-bottom: 1rem;
    }

/*--------------- PORTFOLIO SEE MORE BTN ---------------*/

    &__more-projects-container {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-bottom: 3rem;

        &__link {
            color: $color-primary;
            background-color: $special-color;
            padding: 1rem 1.6rem;
            font-weight: bold;
            border-radius: 100%;
            font-size: 2rem;
            -webkit-transition: all 250ms ease;
            transition: all 250ms ease;

            &:hover {
                background-color: #fff;
                color: #F4B500;
            }
        }
    }
}

/*--------------- PORTFOLIO CONTENT ---------------*/

.portfolio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    &__block {
        position: relative;
        width: 100%;
        margin: 1rem;
        text-align: center;
        padding: 4rem;
        z-index: 0;
        -webkit-filter: grayscale(50%);
                filter: grayscale(50%);
        background: {
            position: center;
            size: cover;
            repeat: no-repeat;
        }
        
        -webkit-transition: all $duration-fast ease;
        
        transition: all $duration-fast ease;
        
        @media (min-width: $breakpoint-sm) {
            width: 40%;
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            padding: 5.4rem;
        }

        @media (min-width: $breakpoint-lg) {
            padding: 7rem;
        }

        // BACKGROUND FILTER 
        &::after {
            content: ' ';
            background: rgba(0,0,0, .6);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }

            &:hover {
                -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                letter-spacing: 2px;
                -webkit-box-shadow: 0px 18px 36px -6px rgba($font-color-secondary, .3);
                box-shadow: 0px 18px 36px -6px rgba($font-color-secondary, .3);
                
                &::after {
                    -webkit-transition: all $duration-fast ease;
                    transition: all $duration-fast ease;
                    background: rgba(0,0,0, .2);
                }
            }
        }


        // TEXT
        &__title {
            margin-bottom: .5rem;
            font: {
                family: $font-family-secondary;
                weight: bold;
                size: 1.5rem;
            }

            @media (min-width: $breakpoint-sm) {
                font-size: 2rem;
            }
        }

        &__content {
            font-size: 1rem;

            @media (min-width: $breakpoint-sm) {
                font-size: 1.15rem;
            }

            @media (min-width: $breakpoint-lg) {
                font-size: 1.3rem;
            }
        }
    
        &__link {
            color: $color-primary;
            text-shadow: 1px 1px 5px #000;
            
        }

    &__info-link {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        letter-spacing: normal;
        background-color: $color-primary;

        @media (max-width: $breakpoint-sm) {
            width: 30%;
            height: 2.5rem;
            left: 50%;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            font-size: 1.1rem;
        }
        
        @media (min-width: $breakpoint-sm) {
            height: 0;
            width: 100%;
            overflow: hidden;
            left: 0;
            -webkit-transition: background-color $duration-fast ease;
            transition: background-color $duration-fast ease;
            -webkit-transition: height 150ms ease;
            transition: height 150ms ease;
        }

        &:hover {
            font-weight: bold;
            background-color: $special-color;
            height: 3rem;
        }

        &__text {
            position: relative;
            height: 0;
            top: .9rem;

            @media (max-width: $breakpoint-sm) {
                top: .7rem;
            }
        }
    }
}





