/*--------------- ALL SKILLS ---------------*/
.skills__text {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    line-height: 1.3rem;

    @media (min-width: $breakpoint-lg) {
        font-size: 1.1rem;
    }
}

@media (min-width: $breakpoint-sm) {

    .skills-text-container {
        display: flex;
        justify-content: center;
    }
}

.skills {
    margin-top: 2rem;
    background-color: $font-color-secondary;

    @media (min-width: $breakpoint-sm) {
        margin: 0;
    }

    .skills-container {
        position: relative;

        @media (min-width: $breakpoint-sm) {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
}

.skills-section {
    padding: 1rem 0;
    position: relative;
    padding-bottom: 4rem;

    @media (min-width: $breakpoint-sm) {
        padding-bottom: 0;
    }

    &__main-title {
        display: block;
        text-align: center;
    }
}


/*--------------- HARD SKILLS ---------------*/

.hard-skills {

    &__list {
        max-width: 450px;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem auto;
        justify-content: center;

        @media (min-width: $breakpoint-sm) {
            margin: 1rem;
        }

        @media (min-width: $breakpoint-md) {
            justify-content: space-around;
            margin: auto;
        }

        @media (min-width: $breakpoint-lg) {
            max-width: 550px;
        }
    }

    &__item-container {
        max-width: 100%;
        margin: 2rem;
        align-items: center;

        @media (min-width: $breakpoint-sm) {
            margin: 1rem 2rem;
        }

        @media (min-width: $breakpoint-md) {
            margin: 1rem 1rem;
        }

        @media (min-width: $breakpoint-lg) {
            margin: 1.5rem;
        }

        .progress-bar {
            width: 120px;
            height: 120px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: contain;

            @media (min-width: $breakpoint-sm) {
                height: 70px;
                width: 70px;
            }

            @media (min-width: $breakpoint-md) {
                height: 90px;
                width: 90px;
            }
            
            &__value {
                opacity: 1;
                width: 100%;
                height: 100%;
                background-color: $font-color-secondary;
                z-index: 1;
                font-size: .8rem;
                text-align: center;
                font-weight: bold;
                transition: opacity 800ms linear;
            }
        }
    }

    &__label {
        display: inline;
        text-align-last: left;
        margin: 0 0 .3rem 0;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: .1rem;
    }
}

.skills-section {
    

    &__main-title {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;
        
        &--hard {
            color: $color-primary;

            @media (min-width: $breakpoint-sm) {
                margin-bottom: 1.7rem;
            }
        }

        @media (min-width: $breakpoint-sm) {
            font-size: 2.8rem;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 3rem;
        }
    }
}

/*--------------- SOFT SKILLS ---------------*/

.soft-skills {
    background-color: $background-color-primary;
    position: relative;
    text-align: center;

    @media (min-width: $breakpoint-sm) {
        margin-top: 1rem;
    }
    
    // TITLE
    &__title-container {
        @media (min-width: $breakpoint-sm) {
            margin-top: -1rem;
        }
    }

    &__title {
        background-color: $background-color-primary;
        display: inline-block;
        position: relative;
        top: -53px;
        margin-bottom: 0;

        @media (min-width: $breakpoint-sm) {
            top: 0;
        }
    }

    &__container {
        max-width: 125px;
        text-align: center;
        display: inline-block;

        @media (min-width: $breakpoint-sm) {
            max-width: 600px;
            align-items: baseline;
            margin: 1.5rem 2rem 1rem 1rem;
            padding-bottom: 1.5rem;
            text-align: center;
            display: inline-flex;
        }

        .icon {
            width: 100%;

            filter: grayscale(100);
            transition: all $duration-fast ease-in-out;

            &:hover {
                filter: grayscale(0);
            }

            @media (min-width: $breakpoint-sm) {
                width: 50%;
            }
        }

        .soft-skills__img--learning {
            filter: none;
        }
        

        .skills-wrapper {
            margin-bottom: 35%;
            width: 100%;

            @media (min-width: $breakpoint-sm) {
                margin-bottom: 3rem;
            }
        }
    }
}

/*--------------- MAD SKILLS ---------------*/

.mad-skills {
    background-color: $background-color-secondary;
    position: relative;
    text-align: center;
    padding-bottom: 0;

    @media (min-width: $breakpoint-sm) {
        width: 94%;
        left: 6%;
        top: -1.5rem;
    }
    
    // TITLE
    &__title {
        background-color: $background-color-secondary;
        display: inline-block;
        position: relative;
        top: -53px;
        margin-bottom: 0;

        @media (min-width: $breakpoint-sm) {
            background-color: none;
            top: 0;
            padding-top: 0;
        }
    }

    &__container {
        max-width: 125px;
        text-align: center;
        display: inline-block;

        @media (min-width: $breakpoint-sm) {
            max-width: 600px;
            align-items: baseline;
            margin: 1.5rem 2rem 1rem 1rem;
            padding-bottom: 1.5rem;
            text-align: center;
            display: inline-flex;
        }

        .icon {
            width: 100%;

            filter: grayscale(100);
            transition: all $duration-fast ease-in-out;

            &:hover {
                filter: grayscale(0);
            }

            @media (min-width: $breakpoint-sm) {
                width: 50%;
            }
        }

        .mad-skills__img--cinema  {
            filter: none;
        }

        .skills-wrapper {
            margin-bottom: 35%;
            width: 100%;

            @media (min-width: $breakpoint-sm) {
                margin-bottom: 0rem;
            }
        }
    }
}

.mad-skills__img--piano:hover {
    filter: invert(1);
}