
// 1- Création bars
.burger__nav {
  width: 26px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 3;

  // 1- Creating bars
  &__content {
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: $color-primary;

    -webkit-transition: background-color $duration-fast ease-in-out;

    transition: background-color $duration-fast ease-in-out;
  }

  &__content::before, ::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $color-primary;

    -webkit-transition: all $duration ease-in-out;

    transition: all $duration ease-in-out;
  }
  
  &__content::before {
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  
  &__content::after {
    -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
            transform: translateY(8px);
  }
}

// 2- Animations
.open {
  &__content {
    background-color: transparent;
  }
  
  &__content::before {
    -webkit-transform: translateY(0) rotateZ(45deg);
        -ms-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotateZ(45deg);
    height: 5px;
    background-color: $font-color-secondary;
  }

  &__content::after {
    -webkit-transform: translateY(0) rotateZ(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotateZ(-45deg);
    height: 5px;
    background-color: $font-color-secondary;
  }
}