.btn-download {
    padding: .5rem .5rem;    
    
    &::before {
        content: '';
        border-top: 2px solid $special-color;
        padding-top: .7rem;
        display: flex;
        width: 60%;
        position: relative;
        right: -40%;
        transition: right $duration ease-in-out;
        
    }
    
    &::after {
        content: '';
        border-top: 2px solid $special-color;
        display: flex;
        width: 60%;
        position: relative;
        right: 0;

        transition: right $duration ease-in-out;
        
    }
    
    &:hover::before {
        right: 0;
    }
    
    &:hover::after {
        right: -40%;
    }
}

/*--------------- PROJECT PAGE ---------------*/

.project-header__back-btn {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 26.5px;
    background: none;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
    outline: none;
    cursor: pointer;
    z-index: 1;

    @media (min-width: $breakpoint-sm) {
        left: 2rem;
        top: 95px;
        background-color: transparent;
        transform: translate(0);
        color: $font-color-secondary;
    }

    @media (min-width: $breakpoint-md) {
        font-size: 1rem;
    }

    &__text {
        padding: .5rem 0 .5rem .6rem;
        position: relative;
        left: 0;
        transition: all $duration-fast ease;

        @media (min-width: $breakpoint-sm) {
            &:hover {
                left: .5rem;
            }
        }
    }
}