.header__container {
  position: relative;

   @media (min-width: $breakpoint-sm) {
       display: flex;
       justify-content: flex-end;
   }
}

/*--------------- LANGUAGES ICON ---------------*/

.languages-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;

    &__link {
      width: 100%;
    }

    @media (min-width: $breakpoint-sm) {
        position: static;
        margin: -1px 0 0 1.5rem;
        width: 1.5rem;
    }
}

/*--------------- LINKS ---------------*/

.icon--home {
    width: 1rem;
    margin-top: 4rem;


    @media (min-width: $breakpoint-sm) {
        width: 14px;
        margin-top: 0;
    }
}

.nav__list__item {
  margin-bottom: 2rem;
}

/*--------------- BURGER ---------------*/

// NAV - DESKTOP
@media (min-width: $breakpoint-sm) {
    .burger__nav {
        display: none;
    }

    .nav__list {
        display: flex;

        &__item {
            padding-left: 1rem;
        }
    }
}

// SIDEBAR
.burger__sidebar {
    display: none;
    position: fixed;
    padding: 1.5rem;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $special-color;
    // transform: translateX(-100%);
    
    transition: transform $duration ease-out;

    @media (min-width: $breakpoint-sm) {
        display: none;
    }
    &.is-open {
        @media (min-width: $breakpoint-sm) {
            display: none;
        }
    }
}

.burger__content {
    display: none;
    position: relative;
    // transform: translateX(-100%);

    transition: transform $duration ease-out;

    @media (min-width: $breakpoint-sm) {
        display: block;
        transform: none;
    }
}

.is-open {
    display: block;
    // transform: translateX(0);
}
