.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
  
     @media (min-width: $breakpoint-sm) {
         justify-content: flex-end;
     }
  }

.burger {
    position: relative;
}
  
  /*--------------- LANGUAGES ICON ---------------*/
  
  .languages-nav {
      position: relative;
      top: -2px;
      width: 25px;
  
      &__link {
        width: 100%;
      }
  
      @media (min-width: $breakpoint-sm) {
          position: static;
          margin: -1px 0 0 1.5rem;
          width: 1.5rem;
      }

      &__img {
        filter: invert(1);
      }
  }
  
  /*--------------- LINKS ---------------*/
  
    .icon--home {
        width: 1rem;
        margin-top: 5rem;
        filter: invert(1);
      
        transition: filter $duration-fast ease-in-out;
        
        @media (min-width: $breakpoint-sm) {
            width: 16px;
            position: relative;
            top: 2px;
            margin-top: 0;
        }
    }
  
    .nav__list__item {
        margin-bottom: 2rem;
        position: relative;

        @media (min-width: $breakpoint-sm) {
            margin-left: .6rem;
            margin-bottom: 0;

            &:first-child {
                margin-left: 1rem;
            }
        }

        @media (min-width: $breakpoint-md) {
            margin-left: 1rem;
            margin-bottom: 0;
        }
        
        &__link {
        color: $font-color-secondary;
        font-weight: bold;
        font-size: 1rem;
    
        @media (min-width: $breakpoint-sm) {
            font-size: .9rem;
            color: $color-primary;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: -.5rem;
                transform: translateX(-50%) scaleX(0);
                transform-origin: 50% 50%;
                width: 100%;
                height: 1px;
                background-color: $special-color;
                transition: transform 250ms;
            }
            
            &:hover {
                
                &::after {
                    transform: translateX(-50%) scaleX(1);
                }
                
            }
        }

        @media (min-width: $breakpoint-md) {
            font-size: 1rem;
        }
    
        transition: all $duration-fast ease-in-out;
    
            &:hover {
                color: $color-primary;
        
                @media (min-width: $breakpoint-sm) {
                    font-size: 1rem;
            
                    &:hover {
                        color: $special-color;
                    }
                }
            }
        }
    }

@media (min-width: $breakpoint-sm) {
    .active {
        color: $special-color;
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -.5rem;
            transform: translateX(-50%) scaleX(0);
            transform-origin: 50% 50%;
            width: 100%;
            height: 1px;
            background-color: $special-color;
            transition: transform 250ms;
            transform: translateX(-50%) scaleX(1);
        }
    }
}

  /*--------------- BURGER ---------------*/

.burger__content {
    display: inline-block;
    position: fixed;
    background-color: $special-color;
    height: 100vh;
    top: 0;
    padding: 2rem;
    left: -60%;
    // width: 60%;
    
    transition: all $duration ease-out;
    
    @media (min-width: $breakpoint-sm) {
        display: contents;
    }
    &--is-open {
        left: 0;
    }
}


  // BURGER BUTTON - DESKTOP
  @media (min-width: $breakpoint-sm) {

    // DOEST APPEAR
      .burger__nav {
          display: none;
      }
  
      .nav__list {
          display: flex;
          margin-right: -.5rem;

          @media (min-width: $breakpoint-md) {
              margin-right: initial;
          }
      }
  }

  /*--------------- SOCIAL MEDIA ICON ---------------*/

.nav__social-media {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 1.5rem;

    &__link {
        font-size: 1.7rem;
        margin: 0 0.1rem;
        transition: color $duration-fast ease;

        &:hover {
            color: $color-primary;
        }
    }
}

.nav__social-media {
    opacity: 1;
}

@media (min-width: $breakpoint-sm) {
    .nav__social-media {
        border-top: none;
        text-align: initial;
        padding-top: 0;
        position: absolute;
        top: 0;
        left: -76px;
        border-right: 1px solid rgba($color-primary, .5);
        padding-right: .9rem;
        opacity: 0;

        &__link {
            color: $color-primary;
            opacity: .3;
            transition: all $duration-fast ease;

            &:hover {
                opacity: 1;
                color: $special-color;
            }
        }
    }
}

