* {
	box-sizing: border-box;
	
	@media (min-width: $breakpoint-sm) {
		margin: 0;
		padding: 0;
	}
}

body {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

::selection {
	background-color: $special-color;
	color: $color-primary;
}