body {
    font-family: $font-family-primary;
    font-size: $default-font-size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-alt;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: $font-color-secondary;
}

nav ul li {
    text-transform: uppercase;
}

.colored-title {
    color: $special-color;

    &--white {
        color: $color-primary;
    }
}

.titles-section {
    display: inline-block;
    font-size: 2.2rem;
    padding: 1rem 1.5rem;

    @media (min-width: $breakpoint-sm) {
        font-size: 2.5rem;
    }
    @media (min-width: $breakpoint-md) {
        font-size: 3rem;
    }
}
